<ion-header class="forgot-password-header auth-header">
  <ion-navbar>
    <ion-title>Log In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forgot-password-content auth-content">
  <p style="text-align: center;"><img src="./assets/images/logo_school.png"></p>
  <h2 style="color:#008b41;" class="auth-title">Login using OTP</h2>

  <form class="forgot-password-form auth-form" [formGroup]="otp_login">
    <ion-item>
      <ion-input type="number" placeholder="Mobile Number" formControlName="mob" minlength="10" maxlength="10"></ion-input>
    </ion-item>
    <ion-item  *ngIf="otpsent">
      <ion-input type="number" placeholder="Enter OTP" formControlName="otp"></ion-input>
    </ion-item>
    <p style="text-align: center; color: red;">
      {{error}}
    </p>
    <button *ngIf="!otpsent" ion-button block class="auth-action-button recover-password-button" type="submit" (click)="getOtp()" [disabled]="otp_login.value.mob === ''">Get OTP</button>
    <button *ngIf="otpsent" ion-button block class="auth-action-button recover-password-button" type="submit" (click)="logIn()" [disabled]="!otp_login.valid">Log In</button>
  </form>
</ion-content>
