timeline-page {
	.timeline-content
	{
		background-color: color($colors, background, base);

		.user-content-segment
		{
			@include element-shadow();
			padding-top: 4%;
			padding-bottom: 2%;
			background-color: $white;

			@include segment-button-styles($theme-color-2);

			.segment-button
			{
				@include segment-text-styles($white-d);
			}
		}

		.user-content
		{
			.list-view
			{
				.list-item
				{
					@include basic-card-styles($white-d);

					padding: 12px 0px;

					ion-card {
						margin-top: 0px;
						margin-bottom: 0px;
					}

					.item-date
					{
						font-size: 1.4rem;
						font-weight: 500;
						color: $white-d;
						margin: 0px 18px 4px;
						display: block;
					}
				}
			}

		}
	}
}
