<ion-header class="diary-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="header-logo">
        <preload-image [ratio]="{w:583, h:100}" src="./assets/images/header_logo_white.png"></preload-image>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="diary-content">
  <ion-fab right bottom>
    <button ion-fab color="danger"><ion-icon name="arrow-dropup" ></ion-icon></button>
    <ion-fab-list side="top">
      <button color="danger" ion-fab (click)="goToTimeTable()"><ion-icon name="md-calendar"></ion-icon></button>
      <button color="danger" ion-fab (click)="goToLeave()"><ion-icon name="ios-paper"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-segment class="user-content-segment" [(ngModel)]="display" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="notices" (ionSelect)="onSegmentSelected($event)">
        Notices
    </ion-segment-button>
    <ion-segment-button value="hws" (ionSelect)="onSegmentSelected($event)">
        Homeworks
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="display" class="user-content">
    <div *ngSwitchCase="'notices'" class="list-view">
      <div class="list-item" *ngFor="let post of diary.posts">
        <span class="item-date">{{post.timestamp}}</span>
        <ion-card>
          <preload-image *ngIf="post.isPhoto" [ratio]="{w:1, h:1}" [src]="post.photoURL" title=""></preload-image>
          <ion-card-content>
            <p class="item-text">
              <strong>{{post.title}}</strong> is scheduled on <strong>{{post.eventDate}}</strong> from time <strong>{{post.timeFrom}}</strong> to <strong>{{post.timeTo}}</strong> at <strong>{{post.venue}}</strong> and is hosted by <strong>{{post.host}}</strong>
            </p>
            <p class="item-text" style="padding-top: 3%;">
              {{post.brief}}
            </p>         
          </ion-card-content>
          <ion-row no-padding class="actions-row">
            <ion-col style="float: left;" no-padding width-30 text-left>
              <button class="action-button" ion-button clear small color="danger" icon-left (click)='likePost(post.id)' >
                <ion-icon isActive="{{post.liked}}" name='heart'></ion-icon>
                  {{post.likes}} Likes
              </button>
            </ion-col>
            <ion-col no-padding width-45 text-right>
              <button class="action-button" ion-button clear small color="danger" icon-left>
                <ion-icon name='chatbubbles'></ion-icon>
                  {{post.comments}} Comments
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
  <div *ngSwitchCase="'hws'" class="list-mini-content">
  <div class="list-mini">
    <ion-list>
      <button class="list-item" ion-item *ngFor="let hw of diary.homeworks">
        <ion-row no-padding class="content-row one-line">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          <ion-col no-padding width-90 class="item-content">
            <h3 class="item-title">{{hw.name}}</h3>
            <p class="item-description">{{hw.description}}</p>
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
  </div>
  </div>
  </div>
</ion-content>
